.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ------------- Missions ------------- */
table {
  margin: 20px 5%;
  width: 90%;
}

table,
th,
td {
  text-align: left;
  border: 2px solid #dee2e6;
  border-collapse: collapse;
}

thead {
  border-bottom: 4px solid #dee2e6;
}

th,
td {
  padding: 10px;
}

th,
.mission-title {
  font-size: 20px;
}

tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.mission-title {
  vertical-align: text-top;
  font-weight: bold;
}

.mission-description {
  letter-spacing: 1px;
}

.mission-reserve,
.mission-btn {
  text-align: center;
}

.mission-reserve > span {
  white-space: nowrap;
  color: #fff;
  border-radius: 6px;
  padding: 4px;
  font-weight: bold;
}

.active-member {
  background-color: #18a2b8;
}

.inactive-member {
  background-color: #6d757d;
}

.mission-btn {
  min-width: 190px;
}

.mission-btn > button {
  white-space: nowrap;
  background-color: inherit;
  border-radius: 4px;
  font-size: 20px;
  padding: 8px;
  margin: 0 20px;
}

.join-btn {
  color: #343a40;
  border: 1px solid #343a40;
}

.leave-btn {
  color: #dc3645;
  border: 1px solid #dc3645;
}

