* {
  padding: 0;
  margin: 0;
}

.app-header {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 54px;
  height: 54px;
}

.title {
  font-size: 29px;
  font-weight: bold;
  margin: 0 8px;
}
